<p> Name : <%=@users.first_name%></p>
<p> Last Name : <%=@users.last_name%></p>
<p> Description : <%=@users.description%></p>
<p> Email : <%=@users.email%></p>
<p> Age : <%=@users.age%></p>
<p> City : <%=@users.city.name%></p>