<% if @gossips.errors.any? %>
        <h2>Une erreur est survenue</h2>
        <ul>
            <% @gossips.errors.full_messages.each do |msg| %>
                <li><%= msg %> </li>
            <%end%>
        
        </ul>
    <%end%>

    <% if @gossips.save %>
      <div class="alert alert-success" role="alert">
      <p> Success!</p>
        </div>
        <% end %>
  
  
  
  
  
  <div class="card-header">
    <h2>Setting up the gossip</h2><hr>
  </div>

      <%= form_tag url_for(action: 'create'), method: "post" do %>
      <font size="+2">  <%= label_tag 'Gossip title' %></font><br/>
        <%= text_field_tag 'title' %>
        <br /> <br />

      <font size="+2">  <%= label_tag 'Gossip description' %></font><br/>
        <%= text_area_tag 'content' %>
        <br /> <br />

        <%= submit_tag "Submit your gossip" %>

      <% end %>
