<p> Name: <a href="/users/<%= @gossip.user.id %>"><%= @gossip.user.first_name %></a></p>
<p> Title: <%= @gossip.title %></p>
<p> Content: <%= @gossip.content %></p>
<p> Created: <%= @gossip.created_at %></p>
<p> Updated: <%= @gossip.updated_at %></p>